<h1>Allergy Score</h1>
<form action='/score'>
  <div class="form-group">
    <label for="userScore">Enter a number between 1-255 and see what your allergies are</label>
    <input id="userScore" name="userScore" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
